<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.pms.dao.MemberDao">

	<!-- 연결정보 미리 정리 -->
	<!--컬럼명과 객체의 정보를 연결한다. -->
	<resultMap type="Member" id="MemberMap">
		<id column="mid" property="id" /> <!-- 프라이머리 키의 경우 id 태그로 설정하여야 함 -->
		<result column="email" property="email" />
		<result column="password" property="password" />
	</resultMap>

	<!--resultType 이 아니라 resultMap -->
	<select id="selectList" resultMap="MemberMap"
		parameterType="map">

		select mid,email from pms2_member
		<if test="startIndex != null and pageSize != null">
			limit #{startIndex}, #{pageSize}
		</if>
	</select>

	<!-- sql id 값에 맞는 겟터셋터가 있다면 자동으로 연결됨, 아니라면 sql문에서 id 값을 변경해줘야 함 // as 문 
		as 는 생략가능 -->
	<select id="selectOne" resultMap="MemberMap"
		parameterType="string">
		select mid,email from pms2_member where mid=#{value}
	</select>

	<update id="update" parameterType="Member">
		update pms2_member set email=#{email}, pwd=password(#{password}) where
		mid=#{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from pms2_member where mid=#{id}
	</delete>

	<insert id="insert" parameterType="Member">
		insert into member(email, name, pwd)
		values(#{email},#{name},password(#{password}))
	</insert>

	<select id="countAll" resultType="int">
		select count(*) from pms2_member
	</select>
	<select id="login" resultType="Member">
	</select>
</mapper>